@import compass/css3

body
  padding: 0
  background-color: #f9f9f9

h1,h2
  margin: 2rem 0 0 0
h3,h4
  margin: 1rem 0 0 0

a,
a:link,a:hover,a:active
  text-decoration: none
  color: #333

.advanced,
.hidden,
.invisible
  display: none

.ui.label.light.gray
  background-color: #eee
  color: #666

.bill-progress
  padding: 1rem 2rem 2rem 2rem

  .ui.steps
    margin-top: 2rem

  .ui.pointing.label
    position: absolute
    left: 0

  .ui.steps .ui.step .ui.pointing.below.label
    top: -2rem

  .ui.steps .no-hover.step,
  .ui.no-hover.step
    cursor: auto

  @mixin ui-step-color($n, $b, $c, $s, $h)
    .ui.step.#{$n},
    .ui.steps .step.#{$n} 
      display: inline-block
      position: relative
      padding: 1em 2em 1em 3em
      vertical-align: top
      background-color: $b
      color: $c
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      -ms-box-sizing: border-box
      box-sizing: border-box

    .ui.step.#{$n}:hover,
    .ui.step.#{$n}.hover
      background-color: $h
      color: $c
    
    .ui.steps .step.#{$n}.hover:after,
    .ui.steps .step.#{$n}:hover:after,
    .ui.step.#{$n}:hover,
    .ui.step.#{$n}.hover::after
      background-color: $h
      border-left-color: $h
    
    .ui.step.no-hover.#{$n}:hover,
    .ui.step.no-hover.#{$n}.hover
      background-color: $b
      color: $c
    
    .ui.steps .step.no-hover.#{$n}.hover:after,
    .ui.steps .step.no-hover.#{$n}:hover:after,
    .ui.step.no-hover.#{$n}:hover,
    .ui.step.no-hover.#{$n}.hover::after
      background-color: $b
      border-left-color: $b

    .ui.step.#{$n}:after
      border: none
      background-color: $b
      top: 0.42em
      right: -1em
      width: 2.15em
      height: 2.15em
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      transform: rotate(-45deg)
      -webkit-box-shadow: -1px -1px 0px 0px $s inset
      -moz-box-shadow: -1px -1px 0px 0px $s inset
      box-shadow: -1px -1px 0px 0px $s inset

  @include ui-step-color(black,  #5c6166, #ffffff, #ffffff, darken(#5c6166, 20%))
  @include ui-step-color(green,  #5bbd72, #ffffff, #ffffff, darken(#5bbd72, 10%))
  @include ui-step-color(red,    #d95c5c, #ffffff, #ffffff, darken(#d95c5c, 10%))
  @include ui-step-color(blue,   #6ecff5, #ffffff, #ffffff, darken(#6ecff5, 10%))
  @include ui-step-color(purple, #564f8a, #ffffff, #ffffff, darken(#564f8a, 10%))
  @include ui-step-color(teal,   #00b5ad, #ffffff, #ffffff, darken(#00b5ad, 10%))
  @include ui-step-color(orange, #e96633, #ffffff, #ffffff, darken(#e96633, 10%))
  @include ui-step-color(white,  #ffffff, #888888, #dddddd, darken(#ffffff, 5%))
  @include ui-step-color(gray,   #dddddd, #333333, #ffffff, darken(#dddddd, 10%))

  .ui.state
    i
      margin: 0
    display: inline-block
    z-index: 10
    position: absolute
    background: #f00
    padding: 0.3em
    border-radius: 2em
    font-size: 0.8rem
    font-weight: 900
    background: #444
    border: 3px solid #eee
    color: #fff
    margin: 0.8em 1em 0 0

  .ui.small.state,
  .ui.small.steps .state
    font-size: 0.65rem

  .ui.large.state,
  .ui.large.steps .state
    font-size: 1rem

  @mixin ui-state-color($n, $b, $c)
    .ui.state.#{$n}
      background: $b
      i
        color: $c

  @include ui-state-color(black,  #5c6166, #ffffff)
  @include ui-state-color(green,  #5bbd72, #ffffff)
  @include ui-state-color(red,    #d95c5c, #ffffff)
  @include ui-state-color(blue,   #6ecff5, #ffffff)
  @include ui-state-color(purple, #564f8a, #ffffff)
  @include ui-state-color(teal,   #00b5ad, #ffffff)
  @include ui-state-color(orange, #e96633, #ffffff)
  @include ui-state-color(white,  #ffffff, #ffffff)

.level.two.menu
  .ui.menu .active.item
    +box-shadow(0 -0.2em 0 inset)

.ly-bill

  .ui.menu.date .item
    padding-top: 0.7rem
    padding-bottom: 0.7rem

  .ui.menu
    margin: 0

  .selected:after
    content: ""
    position: absolute
    top: -3px
    left: -3px
    height: 100%
    width: 100%
    border: 2px orange solid
    z-index: 10
    background-color: rgba(orange,0)
    +border-radius(0.5rem)

  .committee
    .ui.grid
      margin: 0
    .ui.stackable.grid .row>.column
      margin: 0!important
      padding: 0!important
    .row,
    .wide.column,
    .column
      padding: 0
      margin: 0
    .category.ui.button
      width: 100%
      padding: 0.7rem 0
    .ui.toggle.checkbox .box, .ui.toggle.checkbox label,
      margin-left: -1rem
      &.disabled
        opacity: 0.5
      &.disabled:after
        background-color: #ccc
    .ui.checkbox .box, .ui.checkbox label
      &.disabled
        cursor: default
    
  .date
    .today
      padding-right: 2rem
    .ui.menu .item>.label
      background: none
      color: #666
    .holiday
    .filtered
    .ui.pagination.menu .active.item
      background-color: rgba(green,0.2)

.bill.list,
.sitting.list
  padding: 2rem 2rem 2rem 2rem

  .column
    margin-bottom: 1rem
  .ui.segment
  .ui.ribbon.label
    margin-top: -2rem
  .summary
    margin: 1.5rem 0 2rem 0
  .legislator.image
    background: none
    white-space: nowrap
    height: 1.5rem
    overflow: hidden
    img
      opacity: 0.7
      display: inline-block
      border: 1px #ccc solid
      height: 1rem
  .bill.ui.segment .ui.top.right.attached.label i.icon
    margin: 0 0 0 1rem
  .text.right
    float: right
  .ui.label.red a
    color: #fff

.ly-legislator
  .list
    padding: 2rem
    h1,h2,h3,h4
      margin: 0
      padding: 0
  .contact
    .image
      width: 6rem
      height: 6rem
      background-color: #fff
      border: 5px #fff solid
      float: left
      background-position: center
      background-size: cover
      overflow: hidden
      +box-shadow(0 0 10px rgba(0,0,0,0.3))
      img
        opacity: 0
      opacity: .7
      &:hover
        opacity: 1
        +rotate(-3deg)
    .content
      margin-left: 8rem
      h3
        padding: .5rem 0
        border-bottom: 1px #999 solid
        .text
          font-size: 1rem
          font-weight: normal
        .right
          float: right
      .detail
        p
          padding: .5rem 0
          border-bottom: 1px #ccc dashed
          i.ui.icon
            margin-left: 1rem
          &:last-child
            border-bottom: none

  .evaluate
    .option
      .ui.button
        border-bottom: 1px #ddd solid
      .inactive
        +box-shadow(none)
    table
      margin-top: 1rem
      .category
        td
          color: #666
      .item
        th:hover
          background-color: rgba(0,0,0,0.08)
.ly-index
  margin: 0 1rem
  padding: 1rem 0
  .ui.stackable.grid
    margin: 0
    .row
      position: relative
      margin: 0
      padding: 0
      background-color: rgba(#000,0.05)
      border-bottom: 1px #ccc dashed
      &:first-child .column:first-child
        @media only screen and (max-width:768px)
          padding: 1rem
      .column
        padding: 1rem
        &:first-child
          min-height: 10rem
        @media only screen and (max-width:768px)
          padding: 1rem!important
          margin: 0 !important
          &:first-child
            padding: 1rem!important
      .ui.image
        text-align: center
        position: absolute
      .ui.pointing.label
        margin-left: 7rem
        font-size: 1.5rem
        background-color: #fff
        &:before
          background-color: #fff
