extends ly-legislator

block mode
  | 聯絡簿模式

block list
  .list.contact
    .ui.vertically.divided.grid
      .row
        .column
          a.image(href="" style="background-image:url('http://www.ly.gov.tw/upload/01_introduce/0103_leg/LGpicture/80008.jpg')")
            img(src="http://www.ly.gov.tw/upload/01_introduce/0103_leg/LGpicture/80008.jpg" alt="尤美女")
          .content
            h3 尤美女
              span.right 
                span.text 程序委員會 (主席)
                //-span.ui.label 8 屆 4 會期現任
                .ui.label
                  i.icon.star
                  | 民主進步黨
                .ui.label 全國不分區
            .detail
              p 國會研究室
                i.ui.icon.phone
                | 02-2358-8112
                i.ui.icon.print
                | 02-2358-8113
                i.ui.icon.map
                | 10051臺北市中正區濟南路1段3-1號0402室
              p 國會研究室
                i.ui.icon.phone
                | 02-2358-8112
                i.ui.icon.print
                | 02-2358-8113
                i.ui.icon.map
                | 10051臺北市中正區濟南路1段3-1號0402室
              p 國會研究室
                i.ui.icon.phone
                | 02-2358-8112
                i.ui.icon.print
                | 02-2358-8113
                i.ui.icon.map
                | 10051臺北市中正區濟南路1段3-1號0402室
      .row
        .column
          a.image(href="" style="background-image:url('http://www.ly.gov.tw/upload/01_introduce/0103_leg/LGpicture/80008.jpg')")
            img(src="http://www.ly.gov.tw/upload/01_introduce/0103_leg/LGpicture/80008.jpg" alt="尤美女")
          .content
            h3 尤美女
              span.right 
                span.text 程序委員會 (主席)
                //-span.ui.label 8 屆 4 會期現任
                .ui.label
                  i.icon.star
                  | 民主進步黨
                .ui.label 全國不分區
            .detail
              p 國會研究室
                i.ui.icon.phone
                | 02-2358-8112
                i.ui.icon.print
                | 02-2358-8113
                i.ui.icon.map
                | 10051臺北市中正區濟南路1段3-1號0402室
              p 國會研究室
                i.ui.icon.phone
                | 02-2358-8112
                i.ui.icon.print
                | 02-2358-8113
                i.ui.icon.map
                | 10051臺北市中正區濟南路1段3-1號0402室
              p 國會研究室
                i.ui.icon.phone
                | 02-2358-8112
                i.ui.icon.print
                | 02-2358-8113
                i.ui.icon.map
                | 10051臺北市中正區濟南路1段3-1號0402室
