      //-.committee.ui.grid.stackable
        .row
          .six.wide.column
            .category.ui.segment.primary 院會　
              .ui.bottom.attached.label
                .ui.toggle.checkbox
                  input(type="checkbox",name="",checked)
                  label
            .three.column.ui.grid
              .column
                .category.ui.segment.tertiary 程序
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
              .column
                .category.ui.segment.tertiary 紀律
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
              .column
                .category.ui.segment.tertiary 修憲
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
          .ten.wide.column
            .ui.four.column.grid
              .column
                .category.ui.segment.primary 經濟
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label
                .category.ui.segment.tertiary 財政
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
              .column
                .category.ui.segment.tertiary 內政
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
                .category.ui.segment.primary 外交國防
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label
              .column
                .category.ui.segment.primary 社福衛環
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label
                .category.ui.segment.tertiary 教育文化
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
              .column
                .category.ui.segment.tertiary 司法法制
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
                .category.ui.segment.tertiary 交通
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="",checked)
                      label.disabled
