extends template-ly

block subtitle
  | 立法委員 

block navbar

  #navbar
    .ui.menu.black.inverted
      a.item(href="ly-index.html") 國會大代誌
      a.item(href="ly-calendar.html") 議程
      a.item(href="ly-bill.html") 議案
      a.item.active(href="ly-legislator-contact.html") 立委
      a.item(href="ly-data.html") 資料庫
      a.item(href="ly-statistic.html") 統計分析
      a.item.right 關於
      .item.right
        .ui.icon.input
          input(type="text",placeholder="搜尋...")
          i.search.link.icon

block content

  .ly-legislator

    .filter
      .default.level.two.menu
        .ui.menu
          .item 偵測目前地點的選區立委
          a.item.active 指定過濾條件
          a.ui.simple.dropdown.item 第8屆
            .ui.label.light.gray 2012-2016
            i.dropdown.icon
            .menu
              .item 所有屆期
              .item 第1屆
                .ui.label.light.gray 1948-1992
              .item 第2屆
                .ui.label.light.gray 1992-1995
              .item 第3屆
                .ui.label.light.gray 1995-1998
              .item 第4屆
                .ui.label.light.gray 1998-2001
              .item 第5屆
                .ui.label.light.gray 2001-2004
              .item 第6屆
                .ui.label.light.gray 2008-2012
              .item 第7屆
                .ui.label.light.gray 2008-2012
              .item.active 第8屆
                .ui.label.light.gray 2012-2016
          a.ui.simple.dropdown.item 所有選區
            i.dropdown.icon
            .menu
              .item.active 所有選區
              .item 所有不分區
              .item 所有分區
              .submenu
                .item 新竹縣
                .item 新竹市
                .item 台中縣
                .item 台中市
          //-.ui.simple.dropdown.item 所有分區
            i.dropdown.icon
            .menu
              a.item 所有分區
              a.item 中區
              a.item 西區
          //-.ui.simple.dropdown.item 所有村里
            i.dropdown.icon
            .menu
              a.item 所有村里
              a.item 公館里
          //-.ui.simple.dropdown.item 所有村里
            i.dropdown.icon
            .menu
              a.item 所有村里
              a.item 公館里
          .ui.simple.dropdown.item 所有黨籍
            i.dropdown.icon
            .menu
              a.item.active 所有黨籍
              a.item 綠黨
              a.item 台灣團結聯盟
              a.item 民主進步黨
              a.item 親民黨
              a.item 新黨
              a.item 中國國民黨
          .ui.simple.dropdown.item 所有委員會
            i.dropdown.icon
            .menu
              a.item.active 所有委員會
              a.item 程序
              a.item 紀律
          //-a.item.advanced(ng-click="mode='advanced'") 更多選項
          .ui.simple.dropdown.item.right
            block mode
            i.dropdown.icon
            .menu
              a.item(href="ly-legislator-contact.html") 聯絡簿模式
              a.item(href="ly-legislator-evaluate.html") 評比模式
      //-.filter.advanced(ng-show="mode=='advanced'")
    block list
