extends ly-legislator

block mode
  | 聯絡簿模式

block list
  .list.contact
    .ui.vertically.divided.grid
      .row
        .column
          .image(style="background-image:url('http://www.ly.gov.tw/upload/01_introduce/0103_leg/LGpicture/80008.jpg')")
            img(src="http://www.ly.gov.tw/upload/01_introduce/0103_leg/LGpicture/80008.jpg" alt="尤美女")
          .content
            h3.name 尤美女
            p.description ...
      .row
        .column
          .image
            img(src="")
          .content
            h3.name 尤美女
            p.description ...
