extends ly-legislator

block mode
  | 評比模式

block list
    .list.evaluate
      .option.level.two.menu
        .ui.menu
          .item 顯示欄位群組
          .ui.buttons
            .ui.button.info
              i.icon.checkmark.sign
              | 基本資料
            .ui.button.attend.white
              i.icon.checkbox.empty
              | 出席狀況
            .ui.button.bill.white
              i.icon.checkbox.empty
              | 議事內容
            .ui.button.team.white 
              i.icon.checkbox.empty
              | 團隊經營
            .ui.button.statistic.white 
              i.icon.checkbox.empty
              | 網友關注

      table.ui.sortable.table
        thead
          tr.category
            td(colspan='2') 立委
            td(colspan='4').info 基本資料
            td(colspan='5').attend 出席狀況
            td(colspan='4').bill 議事內容
            td(colspan='3').team 團隊經營
            td(colspan='4').statistic 網友關注
        thead
          tr.item
            th 頭像
            th 姓名
            //-th 最高學歷
            //-th 性別

            th.info 屆期
            th.info 選區
            th.info 黨籍
            th.info 委員會

            th.attend 任職時間
            th.attend 出席率
            th.attend 參與率
            th.attend 發言量
            th.attend 質詢量

            th.bill 提案數
            th.bill 提案成功率
            th.bill 阻案數
            th.bill 政黨服從度

            th.team 助理人數
            th.team 助理最低薪資
            th.team 助理流動率

            th.statistic 瀏覽數
            th.statistic 討論數
            th.statistic 分享數
            th.statistic 立院影城排名

        tbody
          tr
            td ...
            td 尤美女
            td.info 7, 8
            td.info 全國不分區
            td.info 民主進步黨
            td.info ...
            td.attend ...
            td.attend ...
            td.attend ...
            td.attend...
            td.attend ...
            td.bill ...
            td.bill ...
            td.bill ...
            td.bill ...
            td.team ...
            td.team ...
            td.team ...
            td.statistic ...
            td.statistic ...
            td.statistic ...
            td.statistic ...
          tr
            td ...
            td 尤美女
            td.info 7, 8
            td.info 全國不分區
            td.info 民主進步黨
            td.info ...
            td.attend ...
            td.attend ...
            td.attend ...
            td.attend...
            td.attend ...
            td.bill ...
            td.bill ...
            td.bill ...
            td.bill ...
            td.team ...
            td.team ...
            td.team ...
            td.statistic ...
            td.statistic ...
            td.statistic ...
            td.statistic ...
          tr
            td ...
            td 尤美女
            td.info 7, 8
            td.info 全國不分區
            td.info 民主進步黨
            td.info ...
            td.attend ...
            td.attend ...
            td.attend ...
            td.attend...
            td.attend ...
            td.bill ...
            td.bill ...
            td.bill ...
            td.bill ...
            td.team ...
            td.team ...
            td.team ...
            td.statistic ...
            td.statistic ...
            td.statistic ...
            td.statistic ...
        tfoot
          tr
            th 
            th 共 _ 人
            th.info 包含 7, 8 屆
            th.info 跨 _ 選區
            th.info 民進黨 _ 人，國民黨 _ 人
            th.info 跨 _ 委員會
            th.attend 平均 _ 年
            th.attend 平均 _%
            th.attend 平均 _%
            th.attend 平均 _
            th.attend 平均 _
            th.bill 平均 _
            th.bill 平均 _%
            th.bill 平均 _
            th.bill 平均 _
            th.team 平均 _
            th.team 平均 _
            th.team 平均 _%
            th.statistic 平均 _
            th.statistic 平均 _
            th.statistic 平均 _
            th.statistic
