!!!5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/semantic.min.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700")
    link(rel="stylesheet",type="text/css",href="css/index.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")
    title 立院監視器
  body
    .ly-monitor

      h2 議程選擇器

      .committee.ui.grid.stackable
        .row
          .six.wide.column
            .category.ui.segment 院會
              .ui.bottom.attached.label
                .ui.toggle.checkbox
                  input(type="checkbox",name="")
                  label.disabled
            .three.column.ui.grid
              .column
                .category.ui.segment 程序
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
              .column
                .category.ui.segment 紀律
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
              .column
                .category.ui.segment 修憲
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
          .ten.wide.column
            .ui.four.column.grid
              .column
                .category.ui.segment 經濟
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
                .category.ui.segment 財政
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
              .column
                .category.ui.segment 內政
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
                .category.ui.segment 外交國防
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
              .column
                .category.ui.segment 社福衛環
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
                .category.ui.segment 教育文化
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
              .column
                .category.ui.segment 司法法制
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled
                .category.ui.segment 交通
                  .ui.bottom.attached.label
                    .ui.toggle.checkbox
                      input(type="checkbox",name="")
                      label.disabled

      .date

      .time

    .sitting-list

      h2 議案列表

      .nav

      .two.column.ui.stackable.grid
        .column
          .ui.segment
            .ui.ribbon.label 修法
            .ui.top.right.attached.label.green 一讀通過，2 天前
            .summary
              p 本院委員劉建國等16人擬具「民用航空法第九十三條之一條文修正草案」，請審議案。
            .ui.bottom.attached.label
              .sponsor.image.ui.rounded.corner
                span 提案
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                span 　連署
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
        .column
          .ui.segment
            .ui.ribbon.label 修法
            .ui.top.right.attached.label.black 即將一讀，還剩 3 天
            .summary
              p 本院台灣團結聯盟黨團擬具「立法院職權行使法部分條文修正草案」，請審議案。
            .ui.bottom.attached.label
              .sponsor.image.ui.rounded.corner
                span 提案
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                span 　連署
        .column
          .ui.segment
            .ui.ribbon.label 修法
            .ui.top.right.attached.label.orange 被復議，4 天前
            .summary
              p 本院委員李應元等17人擬具「大學法第十四條條文修正草案」，請審議案。
            .ui.bottom.attached.label
              .sponsor.image.ui.rounded.corner
                span 提案
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                span 　連署
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
        .column
          .ui.segment
            .ui.ribbon.label 質詢
            .ui.top.right.attached.label.blue 已質詢，1 天前
            .summary
              p 類別：邊政事務、醫改
              p 主題：原住民族建設、醫療資源
              p 關鍵詞：環境權、開發行為環境影響說明、南迴醫院
            .ui.bottom.attached.label
              .sponsor.image.ui.rounded.corner
                span 質詢：廖國棟
                span 　答覆：陳沖、沈世宏、邱文達
        .column
          .ui.segment
            .ui.ribbon.label ＯＯＯ公聽會
            .ui.top.right.attached.label.black 即將舉行，還剩 1 天
            .summary
              p ...
            .ui.bottom.attached.label
              .sponsor.image.ui.rounded.corner
                span 主席
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                span 　講者
        .column
          .ui.segment
            .ui.ribbon.label 國是論壇
            .ui.top.right.attached.label.black 即將舉行，還剩 1 天
            .summary
              p ...
            .ui.bottom.attached.label
              .sponsor.image.ui.rounded.corner
                span 主席
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                span 　委員
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
                img.avatar.DPP(src="http://avatars.io/50a65bb26e293122b0000073/9a8b851e007eea8f0fd81eaaa2f77a4e?size=medium")
        .column
          .ui.segment
            .ui.ribbon.label 預算
            .ui.top.right.attached.label.blue 已查照，5 天前
            .summary
              p 行政院函，為該院衛生署為因應H7N9流感疫情，相關防疫工作所需經費不敷5億4,809萬8千元，動支102年度中央政府總預算第二預備金支應，檢送第二預備金動支數額機關別表，請查照案。




    #script
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
      script(src="js/plugins.js")
      script(src="js/semantic.min.js")
      script(src="js/main.js")


