extends template-ly

block subtitle
  | 立法委員 

block navbar

  #navbar
    .ui.menu.black.inverted
      a.item(href="ly-index.html") 國會大代誌
      a.item(href="ly-calendar.html") 議程
      a.item(href="ly-bill.html") 議案
      a.item(href="ly-legislator-contact.html") 立委
      a.item(href="ly-data.html") 資料庫
      a.item.active(href="ly-statistic.html") 統計分析
      a.item.right 關於
      .item.right
        .ui.icon.input
          input(type="text",placeholder="搜尋...")
          i.search.link.icon

block content

  .ly-statistic
    .level.two.menu
      .ui.menu
        a.item.active ...
        a.item ...
